# Xcode / Mac
DerivedData/
build/
*.xcuserstate
xcuserdata/
.DS_Store

# Node.js / Zenn
node_modules/
npm-debug.log*

# Misc
.vscode/

# Xcode Detail
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
